.loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

	background-color: white;
}

@keyframes ldio-31ro38isged {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ldio-31ro38isged div {
	box-sizing: border-box !important;
}
.ldio-31ro38isged > div {
	position: absolute;
	width: 144px;
	height: 144px;
	top: 28px;
	left: 28px;
	border-radius: 50%;
	border: 16px solid #000;
	border-color: #0099e5 transparent #0099e5 transparent;
	animation: ldio-31ro38isged 1s linear infinite;
}
.ldio-31ro38isged > div:nth-child(2) {
	border-color: transparent;
}
.ldio-31ro38isged > div:nth-child(2) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}
.ldio-31ro38isged > div:nth-child(2) div:before,
.ldio-31ro38isged > div:nth-child(2) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -16px;
	left: 48px;
	background: #0099e5;
	border-radius: 50%;
	box-shadow: 0 128px 0 0 #0099e5;
}
.ldio-31ro38isged > div:nth-child(2) div:after {
	left: -16px;
	top: 48px;
	box-shadow: 128px 0 0 0 #0099e5;
}
.loadingio-spinner-dual-ring-31wowsnofwe {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
}
.ldio-31ro38isged {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}
.ldio-31ro38isged div {
	box-sizing: content-box;
}
